.banner {
    a {
        color: #fff;
        text-decoration: none;
        background-image: url("../image/banner.png");
        height: 958px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        ul {
            max-width: 304px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            gap: 16px;
            li:hover {
                background-color: greenyellow;
            }
        }
    }
}

h1 {
    font-size: $font-size-xl;
    line-height: $line-height-xxl;
}

.font-style-italic {
    font-style: italic;
}

h2 {
    font-size: $font-size-lg;
    line-height: $line-height-xl;
}

h3 {
    font-size: $font-size-md;
    line-height: $line-height-lg;
}

h4 {
    font-size: $font-size-md;
    line-height: $line-height-md;
}

p {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
}

.about {
    li {
        font-size: $font-size-md;
        line-height: $line-height-lg;

        &:before {
            content: "";
            display: inline-block;
            width: 22px;
            height: 22px;
            background-color: #891818;
            border-radius: 50px;
            margin-right: 16px;
        }
    }
}

.works {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;

        li {
            font-size: $font-size-sm;
            line-height: $line-height-lg;

            p {
                padding-top: 16px;
            }
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.container-283 {
    max-width: 283px;
    margin: 0 auto;
}

.container-304 {
    max-width: 304px;
    margin: 0 auto;
}

.container-384 {
    max-width: 384px;
    margin: 0 auto;
    border-top: 1px solid #000000;
}

.text-align-center {
    text-align: center;
}

.brand {
    background-color: #000;
    color: #FFFFFF;
    padding: 56px 0 160px 0;
}

footer {
    background: #000;
    color: #fff;
    padding: 64px 0;

    .container {
        gap: 16px 0;
    }
}

.pt-12 {
    padding-top: 12px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-28 {
    padding-top: 28px;
}

.pt-56 {
    padding-top: 56px;
}

.pt-68 {
    padding-top: 68px;
}

.py-308 {
    padding: 308px 0;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-56 {
    padding-bottom: 56px;
}

.pb-144 {
    padding-bottom: 144px;
}