$font-size-sm: 20px;
$font-size-md: 24px;
$font-size-lg: 64px;
$font-size-xl: 80px;

$line-height-sm: 30px;
$line-height-md: 36px;
$line-height-lg: 42px; 
$line-height-xl: 84px;
$line-height-xxl: 106px;